.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

/.quarto/
In-class_Ex/In-class_Ex02/data/aspatial/Water Point Data Exchange - Plus (WPdx+)/geo_export_aada84a1-8884-404b-8dc2-d3b81080077b.dbf
